# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/
out/
application.properties
.gitignore
/home/mahdi/Projects/cando-back/src/main/resources/application.properties